services:
  - type: web
    name: monfintrack-backend
    env: docker
    region: oregon
    plan: free
    rootDir: backend
    envVars:
      - key: PORT
        value: 10000
      - key: PYTHON_VERSION
        value: 3.13.0
      - key: ALLOWED_ORIGINS
        sync: false
      - key: FIREBASE_CREDENTIALS_JSON
        sync: false
