<p-dialog
  [header]="editingId() ? 'Editar Transação' : 'Nova Transação'"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem', maxHeight: '90vh' }"
  [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{ overflowY: 'auto' }"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5 pt-4"
  >
    <div class="flex justify-center">
      <p-selectButton
        [options]="typeOptions"
        formControlName="type"
        optionLabel="label"
        optionValue="value"
      >
      </p-selectButton>
    </div>

    <div class="flex flex-col gap-2">
      <label for="desc" class="font-semibold text-gray-700">Descrição</label>
      <input
        pInputText
        id="desc"
        formControlName="description"
        placeholder="Ex: Mercado, Uber..."
        class="w-full"
      />
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="flex flex-col gap-2">
        <label for="amount" class="font-semibold text-gray-700">Valor</label>
        <p-inputNumber
          inputId="amount"
          formControlName="amount"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$ 0,00"
          [style]="{ width: '100%' }"
          inputStyleClass="w-full"
        >
        </p-inputNumber>
      </div>
      <div class="flex flex-col gap-2">
        <label for="date" class="font-semibold text-gray-700">Data</label>
        <p-datepicker
          inputId="date"
          formControlName="date"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [appendTo]="'body'"
          [style]="{ width: '100%' }"
          inputStyleClass="w-full"
        >
        </p-datepicker>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="account" class="font-semibold text-gray-700"
        >Conta / Carteira</label
      >
      <p-select
        inputId="account"
        [options]="accounts()"
        formControlName="account"
        optionLabel="name"
        placeholder="Selecione a conta de origem"
        [style]="{ width: '100%' }"
        [appendTo]="'body'"
      >
        <ng-template pTemplate="item" let-acc>
          <div class="flex flex-col">
            <span class="font-bold">{{ acc.name }}</span>
            <span class="text-xs text-gray-500 uppercase">{{
              acc.type | accountType
            }}</span>
          </div>
        </ng-template>
      </p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="category" class="font-semibold text-gray-700"
        >Categoria</label
      >
      <p-select
        inputId="category"
        [options]="filteredCategories()"
        formControlName="category"
        placeholder="Selecione uma categoria"
        [group]="true"
        [style]="{ width: '100%' }"
        [appendTo]="'body'"
        [emptyMessage]="'Nenhuma categoria deste tipo encontrada.'"
      >
        <ng-template pTemplate="group" let-group>
            <div class="flex items-center gap-2">
                <span class="font-bold">{{ group.label }}</span>
            </div>
        </ng-template>

        <ng-template pTemplate="item" let-cat>
          <div class="flex items-center gap-2 ml-2">
            <i [class]="cat.icon" [style.color]="cat.color"></i>
            <span>{{ cat.label }}</span>
          </div>
        </ng-template>

        <ng-template pTemplate="selectedItem" let-cat>
          @if (cat) {
          <div class="flex items-center gap-2">
            <i [class]="cat.icon" [style.color]="cat.color"></i>
            <span>{{ cat.name }}</span>
          </div>
          }
        </ng-template>
      </p-select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="payment" class="font-semibold text-gray-700">Pagamento</label>
      <p-select
        inputId="payment"
        [options]="paymentOptions"
        formControlName="payment_method"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione..."
        [style]="{ width: '100%' }"
        [appendTo]="'body'"
      >
      </p-select>
    </div>

    <div class="flex justify-between mt-6">
      @if (editingId()) {
        <p-button
          label="Excluir"
          icon="pi pi-trash"
          severity="danger"
          [text]="true"
          [rounded]="true"
          (onClick)="confirmDelete()"
        ></p-button>
      }
      <div class="flex gap-2 ml-auto">
        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="visible.set(false)"
        ></p-button>
        <p-button
          label="Salvar"
          icon="pi pi-check"
          type="submit"
          [disabled]="form.invalid"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
